/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/
body {
    font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
    padding: 0 rem-calc(30);
    color: #8f8f8f;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.text-center {
    text-align: center;
}
.vert-center-rel {
	position: relative;
    top: auto;
    transform: translate(0, 0);
}
.vert-center-abs {
	position: absolute;
    top: auto;
    transform: translate(0, 0);
}

.ir {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.bottom-line {
	height: 0px;
	border-bottom: 1px solid #e1e1e1;
	margin-top: rem-calc(33);
	margin-bottom: rem-calc(26);
}
/*********************
LINK STYLES
*********************/
a:not(.button), a:visited:not(.button) {
	color: #01a3fc;

	// Adds highlight on hover
	&:hover, &:focus {
		color: darken(#01a3fc, 20%);
	}

	// On click
	&:active {

	}

	// Mobile tap color
	&:link {
		/*
		This highlights links on iPhones/iPads.
		Similar to the :hover selector for mobile devices.
		*/
		-webkit-tap-highlight-color : darken(#01a3fc, 20%);
	}
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
p {}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {
	
}

h5, .h5 {

}

/*********************
HEADER STYLES
*********************/
.header {
	text-align: center;

	ul.off-canvas-list li {
		list-style: none;
	}
}
.logo {
    padding: 35px 0;
}
.logo img {
    display: inline-block;
} 

/*********************
NAVIGATION STYLES
*********************/
nav {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 33px;

    ul {
	    display: inline-block;
	    margin: 0 auto;
	    padding: 0;
        vertical-align: middle;
	}

	li {
	    float: left;
	    list-style-type: none;
	    margin-right: 40px;
	    padding: 15px 0;
	    position: relative;
		
		&.current-menu-item {
			
			a:not(.button) {
				color: #00a5ff;
			}

			&:after {
				content: "\2026";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				color: #00a5ff;
				margin: 0 auto;
				line-height: 0.55em;
				font-size: 24px;
			}
		}

	    &:last-child {
		    margin-right: 0;
		}
	}

	a:not(.button), a:visited:not(.button) {
	    text-transform: uppercase;
	    font-family: 'Lato', sans-serif;
	    font-size: 10px;
	    color: #002c44;
	    letter-spacing: 0.3em;
	    text-decoration: none;

	    &:hover {
		    color: #888;
		}
	}
}

.top-bar {
	.title-area {
		z-index: 1;
	}
} 

.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/
.page-container {
    // border-bottom: 1px solid #e1e1e1;
    opacity: 0;
    transition: opacity 300ms;
    
    &.loaded {
    	opacity: 1;
    }

   	p {
        line-height: rem-calc(31.76);
        margin-bottom: rem-calc(50);
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.home-article {
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	text-align: center;
	color: #002c44;
	position: relative;

	h2 {
		color: #002c44;
	}
		&:hover .overlay div {
	    opacity: 1;
	    transition: 1s;
	}
	.overlay {
		position: absolute;
		width: calc(100% - 40px);
		height: calc(100% - 40px);
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		padding: 80px;
		z-index: 99;
		transition: background-color 1s, border-color 1s;
		border: 1px solid transparent;

		div {
		    position: relative;
		    top: 20%;
		    opacity: 0;
		    transition: 1s;
		}
	}

	&:after {
		content: "";
	    width: 100%;
	    height: 100%;
	    transition: background-color 300ms;
	}

	&:hover {

		&:after {
		    content: "";
		    background-color: rgba(255, 255, 255, 0.74);
		    width: 100%;
		    height: 100%;
		    position: absolute;
		    left: 0;
		    top: 0;
		}

		.overlay {
		    background-color: rgba(255, 255, 255, 0.6);
		    border: 1px solid $white;
		}

	}

}
.home-container {
    margin: 0 rem-calc(-12.5);
    height: 100%;

    & > section {
    	height: 100%;
    }

    .slick-list, .slick-track, .slick-slide, .large-8 {
    	height: 100%;
	}
	.large-8 {
		width: 100%;
	}
	.prevArrow.slick-arrow {
	    position: absolute;
	    top: 48%;
	    left: 0;
		color: #fff;
		background-color: #002B44;
		padding: 1rem;
		z-index: 9;
	}
	.nextArrow.slick-arrow {
	    position: absolute;
	    top: 48%;
	    right: 0;
		color: #fff;
		background-color: #002B44;
		padding: 1rem;
		z-index: 9;
	}
}

#content {
	#inner-content {
		padding: 1rem 0rem;
	}
}

.hentry {

	header {}

	footer {}

}

.single-title,
.page-title {}

.single-title {}

.page-title {
	
	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

.archive-title {}

// Post meta  
.byline {
	color: #999;
	time {}
}

// Entry content  
.entry-content {
	
	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

} 

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption  
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
		}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
		}

} 

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
Templates
*********************/
.general-template {
    .content {
        width: 100%;
    }
    .left-side {
    	background-image: none;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .left-side img {
        display: block;
        width: 100%;
        margin-bottom: rem-calc(50);
    }
    .left-side, .right-side {
	    width: 100%;
	    height: auto;
	    padding-right: 0;
	    padding-left: 0;
    }
}

/*********************
Pages
*********************/
.contact-page {
	color: #000;
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    .contact-container {
		padding: 50px;
    }

	.info {
		font-family: $lato;
		letter-spacing: 0.06rem;
		font-weight: 600;
		font-style: italic;
	    margin-left: rem-calc(50);
	    margin-top: rem-calc(50);
	    margin-bottom: rem-calc(50);
	    & > span {
	    	margin-bottom: 5px;
	    	display: inline-block;
	    }
	    .fa {
	    	padding-right: rem-calc(10);
	    }
	}
}
.inspiration-page {
	text-align: center;
	.inspiration-container {
		padding: 50px 0;
	}
	.content {
		margin: rem-calc(40) 0;
		font-family: $font-family-mono;
		text-transform: uppercase;
		letter-spacing: 0.3em;
		font-size: rem-calc(17);
	}
}

/*********************
Archives
*********************/
.client-archive {
	.client {
		margin-bottom: $column-gutter;
		.entry-content {
			img {
				width: 100%;
			}
		}
	}
	.article-header {
		opacity: 1;
		transition: opacity 300ms ease;
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		height: 90%;
		width: 87%;
		padding: 20px;
		background-color: rgba(255, 255, 255, 0.5);
		border: 1px solid rgba(255, 255, 255, 0.9);
	}
}

.reference-archive {
	text-align: center;
	.entry-content {
		p {
			font-size: rem-calc(18);
		}
	}
	.article-header {
		h2 {
			font-family: $lato;
			text-transform: uppercase;
			font-size: rem-calc(10.23);
			line-height: rem-calc(21.96);
			margin-top: rem-calc(20);
			margin-bottom: rem-calc(20);
			span {
				font-size: rem-calc(17.55);
				padding-left: rem-calc(15);
				padding-right: rem-calc(15);
			}
		}
	}
}
.reference-quote {
	margin: 0 auto rem-calc(20) auto;
	display: block;
}
.reference-hr {
	display: block;
	margin-top: rem-calc(40);
	margin-bottom: rem-calc(40);
	border-top: 1px solid #c9d2d7;
	
	&:before, &:after {
		content: "";
		
		position: absolute;
		margin: 0 auto;
		right: 0;
		left: 0;

		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
	}

	&:before {
		bottom: 1px;
		border-bottom: 5px solid #c9d2d7;
	}

	&:after {
		top: 0;
		border-top: 5px solid #c9d2d7;
	}
}

/*********************
IMAGE GALLERY STYLES
*********************/
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

} 

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/

#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth  
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
		background: $secondary-color;
	}

	li.depth-2 {}
	li.depth-3 {
		background: darken($secondary-color, 5%);
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes  
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard  
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard  


	// comment meta  
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content  
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content  

	// comment reply link  
	.comment-reply-link {
		@include button($padding: $button-sml);
		float: right;

		&:hover,
		&:focus {
		
		}

	} // end .commentlist .comment-reply-link  

} // end .commentlist  

/*********************
COMMENT FORM STYLES
*********************/

.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation  
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment submit button  
#submit {}

// comment form title  
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link  
#cancel-comment-reply {
	a {}
}

// logged in comments  
.comments-logged-in-as {}

// allowed tags  
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// no comments  
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
}

	#searchsubmit {
	}

	.widgettitle {}

	.widget {
		ul {
			margin: 0;

			li {
				list-style: none;

				&:first-child {}

				&:last-child {}

				a {}

				// deep nesting  
				ul {}

			}

		}
		@media #{$medium-up} {
			padding: 0 10px;
			margin: 2.2em 0;
  		}

	}

#sidebar-offcanvas {
	.widgettitle {
		color: #fff;
	}	
}
/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	margin-top: 1em;
}

.footer-links {} 

.copyright {}
	
/*********************
FOUNDATION STYLES
*********************/
.clearing-assembled.clearing-blackout a:hover {
	background: none;
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}
.gfield_label {
	display: none;
}
.gfield .ginput_container input,
.gfield .ginput_container textarea {
	font-family: $lato;
	font-size: rem-calc(10);
	letter-spacing: 0.2em;
	padding: rem-calc(20) rem-calc(30);
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0;
	border-color: rgba(255, 255, 255, 0.8);
	box-shadow: none;
	height: auto;
}
.gfield .ginput_container textarea {
	min-height: 220px;
	min-width: 100%;
}
.gform_footer {
	text-align: right;
}
.gform_button {
	background-color: $brand-color;
	font-family: $lato;
	font-size: rem-calc(10);
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin-bottom: 0;
	&:hover {
		background-color: lighten($brand-color, 8%);
	}
}

::-webkit-input-placeholder {
   text-transform: uppercase;
   color: #000000;
}

:-moz-placeholder { /* Firefox 18- */
   text-transform: uppercase;
   color: #000000;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-transform: uppercase;
   color: #000000;  
}

:-ms-input-placeholder {  
   text-transform: uppercase;
   color: #000000;  
}