/******************************************************************

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/

/*********************
TOOLS
*********************/

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
.image-replacement {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}


/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/


/*********************
TYPOGRAPHY
*********************/

/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	assets/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/

	// @font-face {
 //    	font-family: 'Font Name';
 //    	src: url('assets/fonts/font-name.eot');
 //    	src: url('assets/fonts/font-name.eot?#iefix') format('embedded-opentype'),
 //             url('assets/fonts/font-name.woff') format('woff'),
 //             url('assets/fonts/font-name.ttf') format('truetype'),
 //             url('assets/fonts/font-name.svg#font-name') format('svg');
 //    	font-weight: normal;
 //    	font-style: normal;
	// }
    
    @font-face {
        font-family: 'telegraphemregular';
        src: url('../fonts/telegraphem.eot');
        src: url('../fonts/telegraphem.eot?#iefix') format('embedded-opentype'),
             url('../fonts/telegraphem.woff2') format('woff2'),
             url('../fonts/telegraphem.woff') format('woff'),
             url('../fonts/telegraphem.ttf') format('truetype'),
             url('../fonts/telegraphem.svg#telegraphemregular') format('svg');
        font-weight: normal;
        font-style: normal;
    }


/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/*********************
TRANSITION
*********************/

/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/

@mixin transition($transition...) {
	// defining prefixes so we can use them in mixins below
	$prefixes:      ("-webkit", "-ms", "-o",  "");
  @each $prefix in $prefixes {
    #{$prefix}-transition: $transition;
  }

  transition: $transition;
}

/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/

/* @include css-gradient(#dfdfdf,#f8f8f8); */
@mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
}


