@media #{$large-up} {
    
    /*********************
    GENERAL STYLES
    *********************/
    body {
        padding: 0 rem-calc(60);
    }
    .vert-center-rel {
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
    }

    .vert-center-abs {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }

    /*********************
    POSTS & CONTENT STYLES
    *********************/

    .general-template {
        .content {
            max-width: rem-calc(550);
            width: 85%;
            margin: 0 auto;
        }
        .content h2 {
            color: $gray;
            font-size: rem-calc(16);
            letter-spacing: rem-calc(3.6);
            text-transform: uppercase;
            margin-bottom: rem-calc(65);
        }
        .content p {
            line-height: rem-calc(31.76);
            margin-bottom: rem-calc(50);
            &:last-child {
                margin-bottom: 0;
            }
        }
        .left-side, .right-side {
            width: 50%;
            // height: calc(100vh - 294px);
            height: 100%;
            float: left;
        }
        .left-side img {
            display: none;
            width: 100%;
            margin-bottom: 0; 
        }
        .right-side {
            padding: rem-calc(60) 0;
            overflow: auto;
            justify-content: center;
        }
    }

    .client-archive {
        .client {
            &:hover {
                .article-header {
                    opacity: 1;
                }
            }
        }
        .article-header {
            opacity: 0;
        }
    }
}
@media #{$large-only} { }